{:big-integer "7M",
 :bigdec-fraction "1.5M",
 :bigdec-identity "1.0M",
 :bigdec-zero "0M",
 :bigint-one "1M",
 :boolean-false "{:throws \"java.lang.IllegalArgumentException\"}",
 :boolean-true "{:throws \"java.lang.IllegalArgumentException\"}",
 :char "{:throws \"java.lang.IllegalArgumentException\"}",
 :double-one "1.0M",
 :double-tenth "0.1M",
 :double-zero "0.0M",
 :huge-bigint "123456789012345678901234567890M",
 :infinity "{:throws \"java.lang.NumberFormatException\"}",
 :keyword "{:throws \"java.lang.IllegalArgumentException\"}",
 :long-max "9223372036854775807M",
 :minus-one "-1M",
 :nan "{:throws \"java.lang.NumberFormatException\"}",
 :negative-infinity "{:throws \"java.lang.NumberFormatException\"}",
 :negative-zero "0.0M",
 :nil "{:throws \"java.lang.NullPointerException\"}",
 :one "1M",
 :ratio-half "0.5M",
 :ratio-improper "-1.5M",
 :ratio-minus-half "-0.5M",
 :ratio-non-terminating "{:throws \"java.lang.ArithmeticException\"}",
 :text-empty "{:throws \"java.lang.NumberFormatException\"}",
 :text-exp-lower "1E+10M",
 :text-exp-upper "1E+10M",
 :text-explicit-plus "1M",
 :text-half "0.5M",
 :text-infinity "{:throws \"java.lang.NumberFormatException\"}",
 :text-leading-space "{:throws \"java.lang.NumberFormatException\"}",
 :text-minus-exp "-1E-10M",
 :text-minus-half "-0.5M",
 :text-minus-one "-1M",
 :text-negative-exp "1E-10M",
 :text-one "1M",
 :text-signed-exp "1E+10M",
 :text-word "{:throws \"java.lang.NumberFormatException\"}",
 :text-zero "0M",
 :zero "0M"}
