{:char-zero "true Boolean",
 :empty-list "true Boolean",
 :empty-map "true Boolean",
 :empty-set "true Boolean",
 :empty-string "true Boolean",
 :empty-vector "true Boolean",
 :false "false Boolean",
 :function "true Boolean",
 :infinity "true Boolean",
 :keyword-false "true Boolean",
 :nan "true Boolean",
 :negative-zero "true Boolean",
 :nil "false Boolean",
 :ratio "true Boolean",
 :regex "true Boolean",
 :string-false "true Boolean",
 :string-zero "true Boolean",
 :symbol "true Boolean",
 :true "true Boolean",
 :zero "true Boolean",
 :zero-bigdec "true Boolean",
 :zero-bigint "true Boolean",
 :zero-double "true Boolean"}
