{:arity-0 "{:args [], :throws \"ArityException\"}",
 :arity-1 "{:args [1], :throws \"ArityException\"}",
 :arity-3 "{:args [1 2 3], :throws \"ArityException\"}",
 :bigdec-differing-scale "{:args [1M 1.0M], :value 0}",
 :boolean-ascending "{:args [false true], :value -1}",
 :boolean-descending "{:args [true false], :value 1}",
 :char-ascending "{:args [\\a \\b], :value -1}",
 :char-descending "{:args [\\z \\a], :value 25}",
 :char-equal "{:args [\\0 \\0], :value 0}",
 :empty-vectors "{:args [[] []], :value 0}",
 :identical-map "{:args [{1 2} {1 2}], :value 0}",
 :identical-set "{:args [#{1} #{1}], :value 0}",
 :inf-vs-long "{:args [##Inf 1], :value 1}",
 :keyword-ascending "{:args [:cat :dog], :value -1}",
 :keyword-bare-vs-qualified "{:args [:cat :animal/cat], :value -1}",
 :keyword-equal "{:args [:dog :dog], :value 0}",
 :long-ascending "{:args [0 10], :value -1}",
 :long-equal "{:args [0 0], :value 0}",
 :long-min-vs-long-max
 "{:args [-9223372036854775808 9223372036854775807], :value -1}",
 :long-vs-bigint "{:args [0 -100N], :value 1}",
 :long-vs-equal-double "{:args [1 1.0], :value 0}",
 :long-vs-nan "{:args [1 ##NaN], :value 0}",
 :long-vs-nil "{:args [1 nil], :value 1}",
 :long-vs-ratio "{:args [1 100/3], :value -1}",
 :map-vs-equal-map
 "{:args [{1 2} {1 2}], :throws \"ClassCastException\"}",
 :nan-vs-long "{:args [##NaN 1], :value 0}",
 :nan-vs-nan "{:args [##NaN ##NaN], :value 0}",
 :neg-inf-vs-inf "{:args [##-Inf ##Inf], :value -1}",
 :nil-vs-long "{:args [nil 1], :value -1}",
 :nil-vs-nil "{:args [nil nil], :value 0}",
 :number-vs-vector "{:args [1 []], :throws \"ClassCastException\"}",
 :seq-vs-equal-seq
 "{:args [(0 1 2 3 4) (0 1 2 3 4)], :throws \"ClassCastException\"}",
 :set-vs-equal-set
 "{:args [#{1} #{1}], :throws \"ClassCastException\"}",
 :signed-zero "{:args [0.0 -0.0], :value 0}",
 :string-ascending "{:args [\"cat\" \"dog\"], :value -1}",
 :string-descending "{:args [\"b\" \"a\"], :value 1}",
 :string-magnitude "{:args [\"c\" \"a\"], :value 2}",
 :string-magnitude-deep "{:args [\"abcd\" \"abZ\"], :value 9}",
 :string-vs-seq-of-chars
 "{:args [\"cat\" (\\c \\a \\t)], :throws \"ClassCastException\"}",
 :string-vs-vector
 "{:args [\"a\" []], :throws \"ClassCastException\"}",
 :symbol-ascending "{:args [cat dog], :value -1}",
 :symbol-vs-nil "{:args [a nil], :value 1}",
 :vector-by-element "{:args [[3] [1]], :value 1}",
 :vector-by-length "{:args [[] [1 2]], :value -1}",
 :vector-length-beats-element "{:args [[2] [1 1]], :value -1}",
 :vector-mixed-element
 "{:args [[1] [[]]], :throws \"ClassCastException\"}",
 :vector-nested-empty "{:args [[] [[]]], :value -1}",
 :vector-vs-list "{:args [[] ()], :throws \"ClassCastException\"}",
 :vector-vs-nil "{:args [[] nil], :value 1}"}
