{:empty-list-front "(1)",
 :empty-vector "[1]",
 :lazy-seq-front "(0 2 3)",
 :list-front "(0 1 2)",
 :list-many-items "(3 2 1)",
 :map-bare-number "{:throws \"IllegalArgumentException\"}",
 :map-map-entry "{:a 1, :b 2}",
 :map-overwrite "{:a 9}",
 :map-pair-vector "{:a 1, :b 2}",
 :map-triple-vector "{:throws \"IllegalArgumentException\"}",
 :map-whole-map "{:a 1, :b 2, :c 3}",
 :nil-target "(1)",
 :nil-target-many-items "(2 1)",
 :no-arguments "[]",
 :no-extra-items "[1]",
 :number-target "{:throws \"ClassCastException\"}",
 :seq-front "(0 1 2)",
 :set-duplicate-member "#{1 2}",
 :set-new-member "#{1 2 3}",
 :sorted-set "#{1 2 3}",
 :string-target "{:throws \"ClassCastException\"}",
 :vector-back "[1 2 3]",
 :vector-many-items "[1 2 3 4]",
 :vector-nil-item "[1 nil]"}
