{:keyword-target "{:throws \"IllegalArgumentException\"}",
 :lazy-seq-index "{:throws \"IllegalArgumentException\"}",
 :list-index "{:throws \"IllegalArgumentException\"}",
 :map-absent-key "false",
 :map-key "true",
 :map-nil-value "true",
 :map-value-not-key "false",
 :nil-target "false",
 :number-target "{:throws \"IllegalArgumentException\"}",
 :set-absent "false",
 :set-member "true",
 :sorted-map-key "true",
 :sorted-set-member "true",
 :string-character "{:throws \"IllegalArgumentException\"}",
 :string-double-index "true",
 :string-index "true",
 :string-keyword-key "{:throws \"IllegalArgumentException\"}",
 :string-past-end "false",
 :vector-double-index "false",
 :vector-first-index "true",
 :vector-keyword-key "false",
 :vector-last-index "true",
 :vector-negative "false",
 :vector-past-end "false",
 :vector-value "false"}
