{:boolean "throws UnsupportedOperationException",
 :character "throws UnsupportedOperationException",
 :cons "3",
 :duplicates "3",
 :empty-lazy-seq "0",
 :empty-list "0",
 :empty-map "0",
 :empty-set "0",
 :empty-string "0",
 :empty-vector "0",
 :keyword "throws UnsupportedOperationException",
 :lazy-seq "5",
 :list "3",
 :long "throws UnsupportedOperationException",
 :map "2",
 :map-entry "2",
 :nil "0",
 :nil-element "2",
 :repeat "3",
 :set "2",
 :string "3",
 :vector "3"}
