{:list-target "{:throws \"ClassCastException\"}",
 :map-absent-key "{:a 1}",
 :map-int-key-double "{1 :one}",
 :map-last-key "{}",
 :map-multiple-keys "{:b 2}",
 :map-nil-value "{}",
 :map-no-keys "{:a 1}",
 :map-present-key "{:b 2}",
 :map-repeated-key "{:b 2}",
 :map-string-key "{\"b\" 2}",
 :nil-target "nil",
 :nil-target-no-keys "nil",
 :number-target "{:throws \"ClassCastException\"}",
 :set-target "{:throws \"ClassCastException\"}",
 :sorted-map "{:b 2}",
 :string-target "{:throws \"ClassCastException\"}",
 :vector-target "{:throws \"ClassCastException\"}"}
