{:bigdec "1.0 Double",
 :bigdec-overflow "##Inf Double",
 :bigint "1.0 Double",
 :bigint-huge "1.0E40 Double",
 :boolean "throws ClassCastException",
 :char "throws ClassCastException",
 :double-tenth "0.1 Double",
 :float-tenth "0.10000000149011612 Double",
 :infinity "##Inf Double",
 :keyword "throws ClassCastException",
 :long-max "9.223372036854776E18 Double",
 :long-max-minus-one "9.223372036854776E18 Double",
 :nan "##NaN Double",
 :negative-infinity "##-Inf Double",
 :negative-one "-1.0 Double",
 :negative-zero "-0.0 Double",
 :nil "throws NullPointerException",
 :one "1.0 Double",
 :ratio "0.3333333333333333 Double",
 :string "throws ClassCastException",
 :zero "0.0 Double"}
