{:blank-string "false",
 :boolean "{:throws \"IllegalArgumentException\"}",
 :character "{:throws \"IllegalArgumentException\"}",
 :empty-lazy-seq "true",
 :empty-list "true",
 :empty-map "true",
 :empty-range "true",
 :empty-set "true",
 :empty-string "true",
 :empty-vector "true",
 :keyword "{:throws \"IllegalArgumentException\"}",
 :lazy-seq "false",
 :list "false",
 :map "false",
 :nil "true",
 :number "{:throws \"IllegalArgumentException\"}",
 :set "false",
 :sorted-map "true",
 :string "false",
 :vector "false",
 :vector-of-nil "false",
 :zero "{:throws \"IllegalArgumentException\"}"}
