{:arity-0 "{:args [], :throws \"ArityException\"}",
 :arity-1 "{:args [42], :value true}",
 :bigdec-differing-scale "{:args [1M 1.0M], :value true}",
 :char-different "{:args [\\a \\b], :value false}",
 :char-same "{:args [\\a \\a], :value true}",
 :empty-list-vs-set "{:args [() #{}], :value false}",
 :empty-list-vs-vector "{:args [() []], :value true}",
 :empty-vector-vs-map "{:args [[] {}], :value false}",
 :float-vs-double-exact "{:args [0.5 0.5], :value true}",
 :float-vs-double-inexact "{:args [0.1 0.1], :value false}",
 :keyword-same "{:args [:and/ham :and/ham], :value true}",
 :keyword-vs-symbol "{:args [:my/hello my/hello], :value false}",
 :long-same "{:args [42 42], :value true}",
 :long-vs-bigdec "{:args [1 1M], :value false}",
 :long-vs-bigint "{:args [1 1N], :value true}",
 :long-vs-double "{:args [2 2.0], :value false}",
 :map-key-order
 "{:args [{:a 1, \"b\" :2, 3 \\c, \\d 4} {\"b\" :2, \\d 4, 3 \\c, :a 1}], :value true}",
 :map-value-type "{:args [{:a 1} {:a 1.0}], :value false}",
 :nan-in-list "{:args [(##NaN) (##NaN)], :value true}",
 :nan-in-set "{:args [#{##NaN} #{##NaN}], :value false}",
 :nan-in-vector "{:args [[##NaN] [##NaN]], :value false}",
 :nan-vs-nan "{:args [##NaN ##NaN], :value false}",
 :nested-collections
 "{:args [{:just (:a {:plain [:simple #{:tailor}]})} {:just (:a {:plain [:simple #{:tailor}]})}], :value true}",
 :nil-false "{:args [nil false], :value false}",
 :nil-nil "{:args [nil nil], :value true}",
 :ratio-unreduced "{:args [22/7 22/7], :value true}",
 :ratio-vs-double "{:args [1/2 0.5], :value false}",
 :signed-zero "{:args [0.0 -0.0], :value true}",
 :sorted-map-vs-hash-map
 "{:args [{:b 14, :c 15, :a 13} {:a 13, :b 14, :c 15}], :value true}",
 :sorted-set-vs-set "{:args [#{4 6 2} #{2 4 6}], :value true}",
 :string-same "{:args [\"green\" \"green\"], :value true}",
 :string-vs-seq-of-chars
 "{:args [\"hello\" (\\h \\e \\l \\l \\o)], :value false}",
 :symbol-same "{:args [two/fish two/fish], :value true}",
 :true-true "{:args [true true], :value true}",
 :variadic-all-equal "{:args [2 2 2], :value true}",
 :variadic-break-in-middle "{:args [2 2 3 2], :value false}",
 :variadic-mixed-empties "{:args [() [] [] () {}], :value false}",
 :variadic-nil-then-chars "{:args [nil \\a \\a \\a], :value false}",
 :vector-order "{:args [[1 2 3] [3 2 1]], :value false}",
 :vector-vs-list "{:args [[1 2 3] (1 2 3)], :value true}",
 :vector-vs-range "{:args [[0 1 2] (0 1 2)], :value true}",
 :vector-vs-set "{:args [[1 2 3] #{1 3 2}], :value false}"}
