{:bigdec "[0.2M {:throws \"IllegalArgumentException\"}]",
 :bigint-even "[122N true]",
 :bigint-negative-even "[-120N true]",
 :bigint-negative-odd "[-121N false]",
 :bigint-odd "[123N false]",
 :boolean "[true {:throws \"IllegalArgumentException\"}]",
 :fractional-double "[1.5 {:throws \"IllegalArgumentException\"}]",
 :infinity "[##Inf {:throws \"IllegalArgumentException\"}]",
 :integral-double "[2.0 {:throws \"IllegalArgumentException\"}]",
 :long-max "[9223372036854775807 false]",
 :long-min "[-9223372036854775808 true]",
 :nan "[##NaN {:throws \"IllegalArgumentException\"}]",
 :negative-even "[-118 true]",
 :negative-infinity "[##-Inf {:throws \"IllegalArgumentException\"}]",
 :negative-odd "[-119 false]",
 :negative-zero "[-0.0 {:throws \"IllegalArgumentException\"}]",
 :nil "[nil {:throws \"IllegalArgumentException\"}]",
 :positive-even "[12 true]",
 :positive-odd "[17 false]",
 :ratio "[1/2 {:throws \"IllegalArgumentException\"}]",
 :string "[\"2\" {:throws \"IllegalArgumentException\"}]",
 :zero "[0 true]"}
