{:array-map "[:a 1]",
 :boolean "throws IllegalArgumentException",
 :cons "1",
 :empty-lazy-seq "nil",
 :empty-list "nil",
 :empty-map "nil",
 :empty-set "nil",
 :empty-string "nil",
 :empty-vector "nil",
 :infinite-lazy "0",
 :keyword "throws IllegalArgumentException",
 :lazy-seq "0",
 :list "1",
 :long "throws IllegalArgumentException",
 :nil "nil",
 :nil-element "nil",
 :sorted-set "1",
 :string "\\a",
 :vector "1"}
