{:bigdec "1.0 Float",
 :bigint "1.0 Float",
 :boolean "throws ClassCastException",
 :char "throws ClassCastException",
 :float-max "3.4028235E38 Float",
 :infinity "throws IllegalArgumentException",
 :keyword "throws ClassCastException",
 :long-max "9.223372E18 Float",
 :max-double "throws IllegalArgumentException",
 :min-double "0.0 Float",
 :min-subnormal-float "1.4E-45 Float",
 :nan "##NaN Float",
 :negative-infinity "throws IllegalArgumentException",
 :negative-one "-1.0 Float",
 :negative-zero "-0.0 Float",
 :nil "throws NullPointerException",
 :one "1.0 Float",
 :over-float "throws IllegalArgumentException",
 :ratio "0.33333334 Float",
 :string "throws ClassCastException",
 :tenth "0.1 Float",
 :under-float "0.0 Float",
 :zero "0.0 Float"}
