{:list-index "nil",
 :map-hit "1",
 :map-hit-default "1",
 :map-int-key-double-lookup "nil",
 :map-miss "nil",
 :map-miss-default ":none",
 :map-nil-value "nil",
 :map-nil-value-default "nil",
 :map-string-key "1",
 :nil-target "nil",
 :nil-target-default ":none",
 :number-target "nil",
 :set-absent "nil",
 :set-member "2",
 :string-index "\\b",
 :string-out-of-range "nil",
 :vector-double-index "nil",
 :vector-index "20",
 :vector-keyword-key "nil",
 :vector-negative-index "nil",
 :vector-out-of-range "nil",
 :vector-out-of-range-default ":none"}
