{:arity-0 "{:args [], :throws \"ArityException\"}",
 :arity-1-nil "{:args [nil], :value true}",
 :arity-1-number "{:args [1], :value true}",
 :arity-1-string "{:args [\"abc\"], :value true}",
 :bigdec-descending "{:args [1.0M 0.0M], :value true}",
 :bigdec-vs-bigint "{:args [1.0M 0N], :value true}",
 :bigger-bigint-vs-long-max
 "{:args [9223372036854775808N 9223372036854775807], :value true}",
 :bigint-descending "{:args [1N 0N], :value true}",
 :chain-all-equal "{:args [1 1 1], :value false}",
 :chain-broken-at-head "{:args [0 2 1], :value false}",
 :chain-descending "{:args [2 1 0], :value true}",
 :chain-not-monotone "{:args [2 0 1], :value false}",
 :chain-reverse-range-10 "{:args [9 8 7 6 5 4 3 2 1 0], :value true}",
 :chain-short-circuits-before-nil "{:args [0 1 nil], :value false}",
 :char-pair "{:args [\\b \\a], :throws \"ClassCastException\"}",
 :double-descending "{:args [1.0 0.0], :value true}",
 :double-vs-long "{:args [1.0 0], :value true}",
 :double-vs-ratio "{:args [0.5 1/16], :value true}",
 :inf-vs-inf "{:args [##Inf ##Inf], :value false}",
 :inf-vs-long "{:args [##Inf 1], :value true}",
 :long-ascending "{:args [0 1], :value false}",
 :long-descending "{:args [1 0], :value true}",
 :long-equal "{:args [1 1], :value false}",
 :long-vs-equal-double "{:args [1 1.0], :value false}",
 :long-vs-neg-inf "{:args [-1 ##-Inf], :value true}",
 :nan-on-the-left "{:args [##NaN 1], :value false}",
 :nan-on-the-right "{:args [1 ##NaN], :value false}",
 :nan-vs-nan "{:args [##NaN ##NaN], :value false}",
 :nil-late-in-chain
 "{:args [2 1 nil], :throws \"NullPointerException\"}",
 :nil-on-the-left "{:args [nil 1], :throws \"NullPointerException\"}",
 :nil-on-the-right "{:args [1 nil], :throws \"NullPointerException\"}",
 :ratio-descending "{:args [1/2 1/16], :value true}",
 :ratio-equal "{:args [1/2 1/2], :value false}",
 :signed-zero "{:args [0.0 -0.0], :value false}",
 :string-pair "{:args [\"b\" \"a\"], :throws \"ClassCastException\"}"}
