{:bigdec "1 Integer",
 :bigint "1 Integer",
 :boolean "throws ClassCastException",
 :char "97 Integer",
 :double-just-over "2147483647 Integer",
 :double-over-int "throws ArithmeticException",
 :infinity "throws IllegalArgumentException",
 :int-max "2147483647 Integer",
 :int-min "-2147483648 Integer",
 :keyword "throws ClassCastException",
 :long-max "throws ArithmeticException",
 :long-over-int "throws ArithmeticException",
 :nan "0 Integer",
 :negative-infinity "throws IllegalArgumentException",
 :negative-long "-7 Integer",
 :negative-ratio "-3 Integer",
 :nil "throws NullPointerException",
 :positive-long "7 Integer",
 :ratio "3 Integer",
 :small-ratio "0 Integer",
 :string "throws ClassCastException",
 :truncates-down "-3 Integer",
 :truncates-half "3 Integer",
 :truncates-neg-half "-3 Integer",
 :truncates-up "3 Integer",
 :zero "0 Integer"}
