{:dotted-namespace ":abc.def/abc",
 :empty-namespace ":/abc",
 :from-boolean "nil",
 :from-char "nil",
 :from-empty-string ":",
 :from-keyword ":abc",
 :from-long "nil",
 :from-nil "nil",
 :from-qualified-keyword ":abc/def",
 :from-qualified-symbol ":abc/def",
 :from-slashed-string ":abc/def",
 :from-spaced-string ":a b",
 :from-special-chars ":abc*+!-_'?<>=",
 :from-string ":abc",
 :from-symbol ":abc",
 :from-vector "nil",
 :keyword-name "[:throws \"ClassCastException\"]",
 :keyword-namespace "[:throws \"ClassCastException\"]",
 :nil-name "[:throws \"NullPointerException\"]",
 :nil-namespace ":abc",
 :special-namespace ":abc*+!-_'?<>=/abc*+!-_'?<>=",
 :symbol-name "[:throws \"ClassCastException\"]",
 :symbol-namespace "[:throws \"ClassCastException\"]",
 :two-strings ":abc/def"}
