{:array-map "[:b 2]",
 :boolean "throws IllegalArgumentException",
 :cons "3",
 :empty-lazy-seq "nil",
 :empty-list "nil",
 :empty-map "nil",
 :empty-set "nil",
 :empty-string "nil",
 :empty-vector "nil",
 :keyword "throws IllegalArgumentException",
 :lazy-seq "2",
 :list "3",
 :long "throws IllegalArgumentException",
 :nil "nil",
 :nil-element "nil",
 :repeat ":x",
 :singleton "1",
 :sorted-set "3",
 :string "\\c",
 :vector "3"}
