{:bigdec "1 Long",
 :bigint "1 Long",
 :bigint-over-long "throws IllegalArgumentException",
 :boolean "throws ClassCastException",
 :char "97 Long",
 :double-at-long-max "9223372036854775807 Long",
 :double-over-long "throws IllegalArgumentException",
 :infinity "throws IllegalArgumentException",
 :int-value "2147483648 Long",
 :keyword "throws ClassCastException",
 :long-max "9223372036854775807 Long",
 :long-min "-9223372036854775808 Long",
 :nan "0 Long",
 :negative "-7 Long",
 :negative-infinity "throws IllegalArgumentException",
 :negative-ratio "-3 Long",
 :nil "throws NullPointerException",
 :positive "7 Long",
 :ratio "3 Long",
 :small-ratio "0 Long",
 :string "throws ClassCastException",
 :truncates-down "-3 Long",
 :truncates-half "3 Long",
 :truncates-neg-half "-3 Long",
 :truncates-up "3 Long",
 :zero "0 Long"}
