{:arity-0 "{:args [], :throws \"ArityException\"}",
 :arity-1-nil "{:args [nil], :value true}",
 :arity-1-number "{:args [1], :value true}",
 :arity-1-string "{:args [\"abc\"], :value true}",
 :bigdec-ascending "{:args [0.0M 1.0M], :value true}",
 :bigint-ascending "{:args [0N 1N], :value true}",
 :bigint-vs-bigdec "{:args [0N 1.0M], :value true}",
 :chain-all-equal "{:args [1 1 1], :value false}",
 :chain-ascending "{:args [0 1 2], :value true}",
 :chain-broken-at-head "{:args [1 0 2], :value false}",
 :chain-not-monotone "{:args [0 2 1], :value false}",
 :chain-range-10 "{:args [0 1 2 3 4 5 6 7 8 9], :value true}",
 :chain-short-circuits-before-nil "{:args [1 0 nil], :value false}",
 :char-pair "{:args [\\a \\b], :throws \"ClassCastException\"}",
 :double-ascending "{:args [0.0 1.0], :value true}",
 :inf-vs-inf "{:args [##Inf ##Inf], :value false}",
 :long-ascending "{:args [0 1], :value true}",
 :long-descending "{:args [1 0], :value false}",
 :long-equal "{:args [1 1], :value false}",
 :long-max-vs-bigger-bigint
 "{:args [9223372036854775807 9223372036854775808N], :value true}",
 :long-vs-double "{:args [0 1.0], :value true}",
 :long-vs-equal-double "{:args [1 1.0], :value false}",
 :long-vs-inf "{:args [1 ##Inf], :value true}",
 :nan-on-the-left "{:args [##NaN 1], :value false}",
 :nan-on-the-right "{:args [1 ##NaN], :value false}",
 :nan-vs-nan "{:args [##NaN ##NaN], :value false}",
 :neg-inf-vs-long "{:args [##-Inf -1], :value true}",
 :nil-late-in-chain
 "{:args [1 2 nil], :throws \"NullPointerException\"}",
 :nil-on-the-left "{:args [nil 1], :throws \"NullPointerException\"}",
 :nil-on-the-right "{:args [1 nil], :throws \"NullPointerException\"}",
 :ratio-ascending "{:args [1/16 1/2], :value true}",
 :ratio-equal "{:args [1/2 1/2], :value false}",
 :ratio-vs-double "{:args [1/16 0.5], :value true}",
 :signed-zero "{:args [0.0 -0.0], :value false}",
 :string-pair "{:args [\"a\" \"b\"], :throws \"ClassCastException\"}"}
