{:boolean "[:throws \"ClassCastException\"]",
 :char "[:throws \"ClassCastException\"]",
 :core-symbol "\"clojure.core\"",
 :dotted-namespace "\"a.b.c\"",
 :empty-name-keyword "nil",
 :empty-namespace-kw "\"\"",
 :empty-namespace-sym "\"\"",
 :long "[:throws \"ClassCastException\"]",
 :nil "[:throws \"NullPointerException\"]",
 :qualified-keyword "\"abc\"",
 :qualified-symbol "\"abc\"",
 :slashed-string-kw "\"a\"",
 :special-characters "\"abc*+!-_'?<>=\"",
 :string "[:throws \"ClassCastException\"]",
 :unqualified-keyword "nil",
 :unqualified-symbol "nil",
 :vector "[:throws \"ClassCastException\"]"}
