{:boolean "[:throws \"ClassCastException\"]",
 :char "[:throws \"ClassCastException\"]",
 :dotted-namespace "\"d\"",
 :empty-name-keyword "\"\"",
 :empty-namespace-kw "\"x\"",
 :empty-namespace-sym "\"x\"",
 :empty-string "\"\"",
 :keyword "\"abc\"",
 :long "[:throws \"ClassCastException\"]",
 :nil "[:throws \"NullPointerException\"]",
 :qualified-keyword "\"def\"",
 :qualified-symbol "\"def\"",
 :slashed-string "\"abc/def\"",
 :special-characters "\"abc*+!-_'?<>=\"",
 :special-symbol "\"abc*+!-_'?<>=\"",
 :string "\"abc\"",
 :symbol "\"abc\"",
 :vector "[:throws \"ClassCastException\"]"}
