{:array-map "([:b 2])",
 :boolean "throws IllegalArgumentException",
 :cons "(2 3)",
 :empty-lazy-seq "nil",
 :empty-list "nil",
 :empty-map "nil",
 :empty-set "nil",
 :empty-string "nil",
 :empty-vector "nil",
 :keyword "throws IllegalArgumentException",
 :lazy-seq "(1 2)",
 :list "(2 3)",
 :long "throws IllegalArgumentException",
 :nil "nil",
 :nil-element "(1)",
 :single-char "nil",
 :singleton "nil",
 :sorted-set "(2 3)",
 :string "(\\b \\c)",
 :vector "(2 3)"}
