{:empty-list "throws IndexOutOfBoundsException",
 :empty-list-nf ":not-found",
 :empty-vector "throws IndexOutOfBoundsException",
 :empty-vector-nf ":not-found",
 :infinite-lazy "10",
 :lazy-seq "2",
 :lazy-seq-past-end "throws IndexOutOfBoundsException",
 :list "2",
 :list-negative "throws IndexOutOfBoundsException",
 :list-negative-nf ":not-found",
 :list-past-end "throws IndexOutOfBoundsException",
 :list-past-end-nf ":not-found",
 :map "throws UnsupportedOperationException",
 :map-entry ":a",
 :map-nf "throws UnsupportedOperationException",
 :nil-coll "nil",
 :nil-coll-negative "nil",
 :nil-coll-nf ":not-found",
 :nil-index "throws NullPointerException",
 :non-seqable "throws UnsupportedOperationException",
 :non-seqable-nf "throws UnsupportedOperationException",
 :overflowing-index "throws ArithmeticException",
 :set "throws UnsupportedOperationException",
 :set-nf "throws UnsupportedOperationException",
 :string "\\b",
 :string-negative "throws StringIndexOutOfBoundsException",
 :string-past-end "throws StringIndexOutOfBoundsException",
 :string-past-end-nf ":not-found",
 :truncating-index "2",
 :vector-first "1",
 :vector-last "3",
 :vector-negative "throws IndexOutOfBoundsException",
 :vector-negative-nf ":not-found",
 :vector-past-end "throws IndexOutOfBoundsException",
 :vector-past-end-nf ":not-found"}
