{:bigdec "1.0M BigDecimal",
 :bigint "1N BigInt",
 :boolean "throws ClassCastException",
 :byte "1 Byte",
 :char "throws ClassCastException",
 :double "0.1 Double",
 :float "1.0 Float",
 :function "throws ClassCastException",
 :infinity "##Inf Double",
 :int "1 Integer",
 :keyword "throws ClassCastException",
 :long "1 Long",
 :map "throws ClassCastException",
 :nan "##NaN Double",
 :negative-zero "-0.0 Double",
 :nil "nil",
 :ratio "1/2 Ratio",
 :regex "throws ClassCastException",
 :set "throws ClassCastException",
 :short "1 Short",
 :string "throws ClassCastException",
 :symbol "throws ClassCastException",
 :vector "throws ClassCastException",
 :zero "0 Long"}
