{:bigdec "[0.2M {:throws \"IllegalArgumentException\"}]",
 :bigint-even "[122N false]",
 :bigint-negative-even "[-120N false]",
 :bigint-negative-odd "[-121N true]",
 :bigint-odd "[123N true]",
 :boolean "[true {:throws \"IllegalArgumentException\"}]",
 :fractional-double "[1.5 {:throws \"IllegalArgumentException\"}]",
 :infinity "[##Inf {:throws \"IllegalArgumentException\"}]",
 :integral-double "[3.0 {:throws \"IllegalArgumentException\"}]",
 :long-max "[9223372036854775807 true]",
 :long-min "[-9223372036854775808 false]",
 :nan "[##NaN {:throws \"IllegalArgumentException\"}]",
 :negative-even "[-118 false]",
 :negative-infinity "[##-Inf {:throws \"IllegalArgumentException\"}]",
 :negative-odd "[-119 true]",
 :negative-zero "[-0.0 {:throws \"IllegalArgumentException\"}]",
 :nil "[nil {:throws \"IllegalArgumentException\"}]",
 :positive-even "[12 false]",
 :positive-odd "[17 true]",
 :ratio "[1/2 {:throws \"IllegalArgumentException\"}]",
 :string "[\"3\" {:throws \"IllegalArgumentException\"}]",
 :zero "[0 false]"}
