{:capitalized-false "nil",
 :capitalized-true "nil",
 :empty "nil",
 :false "false",
 :initial "nil",
 :internal-space "nil",
 :leading-space "nil",
 :nil "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-boolean
 "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-char "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-double "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-keyword
 "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-list "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-long "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-map "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-set "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-vector "{:throws \"java.lang.IllegalArgumentException\"}",
 :one "nil",
 :prefixed-false "nil",
 :prefixed-true "nil",
 :suffixed-false "nil",
 :suffixed-true "nil",
 :trailing-space "nil",
 :true "true",
 :upper-false "nil",
 :upper-true "nil",
 :word "nil",
 :yes "nil",
 :zero "nil"}
