{:bare-exponent "nil",
 :blank "nil",
 :d-suffix "1.0",
 :double-sign "nil",
 :empty "nil",
 :explicit-plus "5.6",
 :exponent-lower "90006.0",
 :exponent-upper "568.51",
 :f-suffix "1.0",
 :hex-float "8.0",
 :infinity "##Inf",
 :infinity-suffix "nil",
 :integer "1.0",
 :leading-dot "0.5",
 :leading-space "1.0",
 :nan "##NaN",
 :negative "-8.7",
 :negative-exponent "-105.8",
 :negative-infinity "##-Inf",
 :negative-zero "-0.0",
 :nil "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-char "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-double "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-keyword
 "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-long "{:throws \"java.lang.IllegalArgumentException\"}",
 :one "1.0",
 :overflow "##Inf",
 :ratio-text "nil",
 :reader-infinity "nil",
 :signed-nan "##NaN",
 :tab-and-newline "1.0",
 :trailing-dot "5.0",
 :trailing-space "1.0",
 :trailing-zeros "1.0",
 :underflow "0.0",
 :underscored "nil",
 :word "nil"}
