{:braced "nil",
 :canonical "#uuid \"b6883c0a-0342-4007-9966-bc2dfa6b109e\"",
 :canonical-mixed "#uuid \"b6883c0a-0342-4007-9966-bc2dfa6b109e\"",
 :canonical-upper "#uuid \"b6883c0a-0342-4007-9966-bc2dfa6b109e\"",
 :empty "nil",
 :empty-first-group "nil",
 :extra-leading-char "nil",
 :extra-trailing-char "nil",
 :four-groups "nil",
 :fragment "nil",
 :leading-space "nil",
 :nil "{:throws \"java.lang.NullPointerException\"}",
 :nil-uuid "#uuid \"00000000-0000-0000-0000-000000000000\"",
 :non-hex-digit "nil",
 :non-string-char "{:throws \"java.lang.ClassCastException\"}",
 :non-string-double "{:throws \"java.lang.ClassCastException\"}",
 :non-string-keyword "{:throws \"java.lang.ClassCastException\"}",
 :non-string-long "{:throws \"java.lang.ClassCastException\"}",
 :non-string-map "{:throws \"java.lang.ClassCastException\"}",
 :non-string-vector "{:throws \"java.lang.ClassCastException\"}",
 :overlong-group "#uuid \"00000005-0004-0003-0002-009000000001\"",
 :ragged-groups "#uuid \"00000012-0034-0056-0078-000000000009\"",
 :short-groups "#uuid \"00000000-0000-0000-0000-000000000000\"",
 :short-last-group "#uuid \"b6883c0a-0342-4007-9966-0bc2dfa6b109\"",
 :six-groups "nil",
 :trailing-space "nil",
 :urn "nil",
 :zero-text "nil"}
