{:arabic-indic "123",
 :bare-plus "nil",
 :blank "nil",
 :decimal "nil",
 :double-sign "nil",
 :empty "nil",
 :explicit-plus "12",
 :exponent "nil",
 :fullwidth "nil",
 :hex "nil",
 :leading-space "nil",
 :leading-tab "nil",
 :leading-zeros "7",
 :long-max "9223372036854775807",
 :long-max-inc "nil",
 :long-min "-9223372036854775808",
 :long-min-dec "nil",
 :long-suffix "nil",
 :negative "-1000",
 :negative-zero "0",
 :nil "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-char "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-double "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-keyword
 "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-long "{:throws \"java.lang.IllegalArgumentException\"}",
 :non-string-vector "{:throws \"java.lang.IllegalArgumentException\"}",
 :simple "42",
 :trailing-space "nil",
 :underscored "nil",
 :zero "0"}
