{:false "[false {:throws \"ClassCastException\"}]",
 :infinity "[##Inf true]",
 :max-double "[1.7976931348623157E308 true]",
 :max-int "[9223372036854775807 true]",
 :min-double "[4.9E-324 true]",
 :min-int "[-9223372036854775808 false]",
 :minus-one "[-1 false]",
 :minus-one-bigdec "[-1.0M false]",
 :minus-one-bigint "[-1N false]",
 :minus-one-double "[-1.0 false]",
 :nan "[##NaN false]",
 :negative-infinity "[##-Inf false]",
 :negative-ratio "[-1/2 false]",
 :negative-zero "[-0.0 false]",
 :nil "[nil {:throws \"NullPointerException\"}]",
 :one "[1 true]",
 :one-bigdec "[1.0M true]",
 :one-bigint "[1N true]",
 :one-double "[1.0 true]",
 :ratio "[1/2 true]",
 :string "[\"1\" {:throws \"ClassCastException\"}]",
 :true "[true {:throws \"ClassCastException\"}]",
 :zero "[0 false]",
 :zero-bigdec "[0.0M false]",
 :zero-bigint "[0N false]",
 :zero-double "[0.0 false]",
 :zero-ratio "[0 false]"}
