{:bigdec "2.0M",
 :bigint-promotes "18446744073709551614N",
 :double-double "0.03",
 :inf-times-inf "##-Inf",
 :long-double "4.5",
 :long-long "12",
 :max-times-one "9223372036854775807",
 :nan "##NaN",
 :negative-zeros "-0.0",
 :no-args "1",
 :overflow-max "[:throws \"ArithmeticException\" \"long overflow\"]",
 :overflow-min-neg
 "[:throws \"ArithmeticException\" \"long overflow\"]",
 :ratio-collapses "2N",
 :ratio-stays-ratio "1/6",
 :sign-onto-zero "-0.0",
 :unary-double "1.5",
 :unary-long "7",
 :variadic "24",
 :zero-times-inf "##NaN",
 :zero-times-nan "##NaN"}
