{:bigdec "\"1.0\"",
 :bigdec-negative "\"-1.0\"",
 :bigdec-unscaled "\"0\"",
 :bigdec-zero "\"0.0\"",
 :bigint "\"1\"",
 :char "\"a\"",
 :double "\"1.0\"",
 :empty-list "\"()\"",
 :empty-string "\"\"",
 :false "\"false\"",
 :float "\"1.0\"",
 :float-zero "\"0.0\"",
 :infinity "\"Infinity\"",
 :keyword "\":a-keyword\"",
 :list "\"(:a :list)\"",
 :many "\"123\"",
 :map "\"{:a :map}\"",
 :nan "\"NaN\"",
 :negative-infinity "\"-Infinity\"",
 :negative-long "\"-1\"",
 :negative-ratio "\"-1/2\"",
 :negative-zero "\"-0.0\"",
 :nested-nil "\"[1 2 nil]\"",
 :nil "\"\"",
 :nil-between "\"12\"",
 :no-args "\"\"",
 :qualified-keyword "\":a/b\"",
 :ratio "\"1/2\"",
 :set "\"#{:a-set}\"",
 :space-char "\" \"",
 :string "\"a string\"",
 :strings "\"astringwithnospaces\"",
 :symbol "\"a-sym\"",
 :true "\"true\"",
 :two-nils "\"\"",
 :vector "\"[:a :vector]\"",
 :whole-ratio "\"0\"",
 :zero "\"0\""}
