{:astral-first-unit "\"a\"",
 :astral-pair "\"😀\"",
 :astral-tail "\"b\"",
 :both-negative "[:throws \"StringIndexOutOfBoundsException\"]",
 :empty-at-end "\"\"",
 :empty-at-start "\"\"",
 :empty-range-at-end "\"\"",
 :empty-range-inside "\"\"",
 :empty-string "\"\"",
 :empty-string-range "\"\"",
 :end-far-past-length "[:throws \"StringIndexOutOfBoundsException\"]",
 :end-past-length "[:throws \"StringIndexOutOfBoundsException\"]",
 :from-one "\"bcde\"",
 :inverted-range "[:throws \"StringIndexOutOfBoundsException\"]",
 :middle "\"bcd\"",
 :negative-start "[:throws \"StringIndexOutOfBoundsException\"]",
 :negative-start-range "[:throws \"StringIndexOutOfBoundsException\"]",
 :nil-end "[:throws \"NullPointerException\"]",
 :nil-start "[:throws \"NullPointerException\"]",
 :nil-string "[:throws \"NullPointerException\"]",
 :non-ascii-explicit "\"ab֎de\"",
 :non-ascii-from-one "\"bcde\"",
 :non-ascii-middle "\"bcd\"",
 :non-ascii-prefix "\"ab֎\"",
 :non-ascii-whole "\"ab֎de\"",
 :non-string "[:throws \"ClassCastException\"]",
 :prefix "\"abc\"",
 :start-past-length "[:throws \"StringIndexOutOfBoundsException\"]",
 :whole "\"abcde\"",
 :whole-explicit "\"abcde\""}
