{:false "[false {:throws \"ClassCastException\"}]",
 :infinity "[##Inf false]",
 :max-double "[1.7976931348623157E308 false]",
 :max-int "[9223372036854775807 false]",
 :min-double "[4.9E-324 false]",
 :min-int "[-9223372036854775808 false]",
 :minus-one "[-1 false]",
 :minus-one-double "[-1.0 false]",
 :nan "[##NaN false]",
 :negative-infinity "[##-Inf false]",
 :negative-ratio "[-1/2 false]",
 :negative-zero "[-0.0 true]",
 :nil "[nil {:throws \"NullPointerException\"}]",
 :one "[1 false]",
 :one-bigdec "[1.0M false]",
 :one-bigint "[1N false]",
 :one-double "[1.0 false]",
 :ratio "[1/2 false]",
 :string "[\"0\" {:throws \"ClassCastException\"}]",
 :tiny "[1.0E-7 false]",
 :true "[true {:throws \"ClassCastException\"}]",
 :zero "[0 true]",
 :zero-bigdec "[0.0M true]",
 :zero-bigint "[0N true]",
 :zero-double "[0.0 true]",
 :zero-ratio "[0 true]"}
